@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0F172A;
  color: white;
  font-family: 'Inter', sans-serif;
}

input,
select,
textarea {
  background-color: #0f172a !important;
  color: white !important;
}

input::placeholder,
textarea::placeholder {
  color: #94a3b8;
}